@media only screen and (min-width: 768px) {
  .resources {
    margin-left: -20px;
    margin-right: -20px;
    width: calc(100% + 40px); }
    .resources .item {
      width: calc(33.33333% - 26.66667px);
      float: left;
      margin-left: 20px; }
  .theme-extension {
    width: calc(41.66667% - 28.33333px);
    float: left;
    margin-left: 20px;
    min-height: 200px; } }

.theme-name .version {
  font-size: 12px;
  background: #fff;
  padding: 5px 8px;
  margin-left: 10px; }

.theme-link {
  position: relative;
  overflow: auto;
  margin: 16px 0; }
  .theme-link h3 {
    margin-top: 1em; }

.theme-extension {
  margin-top: 25px;
  padding: 25px;
  background: #fff;
  border-left: 4px solid #fc3;
  min-height: 200px; }

.resources .item {
  margin-bottom: 30px;
  margin-top: 30px; }
  .resources .item .image-link {
    border: 1px solid #fff;
    padding: 5px;
    text-align: center;
    display: block; }
  .resources .item .description {
    margin-bottom: 15px; }
