/* Archive
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.blog, .archive, .search{
    .sticky {
        background: $color-tertiary;
        .entry-title, .entry-content, .entry-footer {
            padding-left: 25px;
            padding-right: 25px;
        }
        .entry-footer {
            padding-bottom: 25px;
        }
    }
    .hentry {
        margin-bottom: 80px;
        position: relative;
    }
    //image
    .post-thumbnail {
        display: block;
        margin-bottom: 15px;
     }
    //post title
    .entry-title {
        font-size: 2.6rem;
        margin-bottom: 10px;
        font-weight: 400;
        a {
            color: darken($color-secondary,13%);
        }
    }
    .more-tag {
        text-transform: uppercase;
        font-size: 1.3rem;
        font-weight: 500;
    }
    .entry-header {
        .date {
            background: rgba(0,0,0,.5);
            padding: 5px 10px;
            margin: 10px;
            color: #fff;
            position: absolute;
            font-size: .7em;
            text-transform: uppercase;
            border-radius: 2px;
            max-width: 30%;
        }
        .cat-tags-links {
            @extend .date;
            right: 0;
            max-width: 60%;

            a {
                color: #fff;
            }
        }
        
    }
    .entry-footer {
        font-size: .9em;
        color: $color-quaternary;
        a {
            color: $color-quaternary;
        }
        .byline, .comments-link, .cat-links, .tags-links, .date {
            display: inline;
            &:after {
                content:"/";
                margin: 0 5px;
            }
        }
    }
}
